@import './shared';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');

// General rules
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', $system-font-stack;
  color: $clr-text;
}

h1, h2, h3, ul, p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  color: $clr-primary;
  text-decoration: none;
}

// Main grid
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 40px;
  min-height: 100vh;
  padding-block: 2rem;
  background: $clr-background;
}

// Header
header {
  @include flex-row(null, center, space-between);
  width: min(92%, 1500px);
  margin-inline: auto;
}

.logo {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0.5rem;
  color: $clr-primary;
  text-transform: uppercase;
}

nav ul {
  @include flex-row(6vw);
  font-size: 1.2rem;

  li {
    padding: 5px 0;
    position: relative;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      color: $clr-primary;
    }
  }
}

.selected {
  color: $clr-primary;
}

.selected::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2px;
  bottom: 0;
  background: $clr-text;
}

// Main
main {
  width: min(92%, 1500px);
  margin-inline: auto;
}

// Footer
footer {
  @include flex-row(4vw, center, space-between);
  font-size: 1.15rem;
  width: min(92%, 1500px);
  margin-inline: auto;

  ul {
    display: flex;
    gap: 4vw;
  }

  li a {
    &:hover {
      color: darken($clr-primary, 8%);
    }

    &:active {
      color: darken($clr-primary, 12%);
    }
  }

  hr {
    height: 1px;
    width: 100%;
    background: $clr-primary;
    border: none;
  }
}

.fa-github {
  font-size: 2.2rem;
  transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

@media (max-width: 600px) {
  body {
    padding-block: 0.5rem;
  }

  hr {
    display: none;
  }
}
