@import './shared';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');

// General rules
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $clr-text;
}

h1, h2, h3, ul, p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  color: $clr-primary;
  text-decoration: none;
}

// Main grid
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  padding-block: 2rem;
  background: $clr-background;
}

// Header
header {
  @include flex-row(null, center, space-between);
  width: min(92%, 1500px);
  margin-inline: auto;

  button {
    display: none;
    border: none;
    background: none;
    color: $clr-primary;
    font-size: 1.5rem;
  }
}

.logo {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0.5rem;
  color: $clr-primary;
  text-transform: uppercase;
  line-height: 1;
}

nav ul {
  li {
    font-size: 1.2rem;
    padding: 5px 0;
    position: relative;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      color: $clr-primary;
    }
  }
}

.nav ul {
  @include flex-row(6vw);
}

.selected {
  color: $clr-primary;
}

.selected::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2px;
  bottom: 0;
  background: $clr-text;
}

.overlay {
  height: 0;
  background: rgba(0, 0, 0);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.mobile-nav {
  display: none;
  width: 0;
  height: 100%;
  padding-block: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background: $clr-background;
  transition: width 0.5s;

  div {
    @include flex-row(null, null, center);
    margin-bottom: 32px;
  }

  ul {
    @include flex-col(24px);
    min-width: 200px;
    padding-inline: 1.5rem;
  }
}

// Main
main {
  width: min(92%, 1500px);
  margin-inline: auto;
  margin-block: 40px; 
}

// Footer
footer {
  @include flex-row(4vw, center, space-between);
  font-size: 1.15rem;
  width: min(92%, 1500px);
  margin-inline: auto;

  ul {
    display: flex;
    gap: 4vw;
  }

  li a {
    &:hover {
      color: darken($clr-primary, 8%);
    }

    &:active {
      color: darken($clr-primary, 12%);
    }
  }

  hr {
    height: 1px;
    width: 100%;
    background: $clr-primary;
    border: none;
  }
}

.fa-github {
  font-size: 2.2rem;
  transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

@media (min-width: 1536px) {
  :root {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  body {
    padding-block: 0.5rem;
  }

  .nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  header button {
    display: block;
  }

  .selected::before {
    width: 0.5rem;
  }

  main {
    margin-block: 30px;
  }

  hr {
    display: none;
  }
}
