// Fonts
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;800&');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');


// Variables
$light-brown: #EBE0CE;
$black: #272624;
$orange: #ED3C20;
$light-gray: #969087;
$system-font-stack: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;


// General rules
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', $system-font-stack;
  color: $black;
}

h1, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}


// Main grid
body {
  height: 100vh;
  padding: 6vh 5vw;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 32px;
  background: $light-brown;
}


// Header
header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2.6rem;
  font-weight: 800;
  letter-spacing: 0.5rem;
  color: $orange;
  cursor: default;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(3, auto);
  font-size: 1.3rem;
  gap: 6vw;

  li {
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      color: $orange;
    }
  }
}


// Main - Home
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

.left-section {
  display: grid;
  justify-items: start;
  gap: 2vh;
}

.jap-phrase {
  font-size: 3rem;
  font-family: 'M PLUS Rounded 1c', $system-font-stack;
  color: $orange;
}

.wavy-line {
  // Ratio -> font-size / letter-spacing = 6.25
  letter-spacing: -0.368rem;
  font-size: 2.3rem;
  color: $black;
}

.motto {
  display: grid;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 800;

  div:nth-child(2) {
    color: $orange;
  }
}

.description {
  font-size: 1.15rem;
}

.order {
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  background: $orange;
  color: white;
  margin-top: 1.5vh;
}

.right-section {
  display: grid;
  place-content: center;
  place-items: center;
  img {
    width: 50%;
  }
}


// Footer
footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 4vw;
  font-size: 1.15rem;

  ul {
    display: grid;
    justify-content: start;
    grid-template-columns: repeat(3, auto);
    gap: 4vw;
  }

  a {
    color: $orange;
    text-decoration: none;
  }

  li a {
    &:hover {
      color: darken($orange, 8%);
    }

    &:active {
      color: darken($orange, 12%);
    }
  }
}

.line {
  height: 1px;
  width: 100%;
  background: $orange;
}

.fa-github {
  font-size: 2.2rem;
  transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
  opacity: 1;
}
