// Fonts
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');


// Variables
$light-brown: #EBE0CE;
$black: #272624;
$orange: #ED3C20;
$light-gray: #969087;
$system-font-stack: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;


// General rules
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', $system-font-stack;
  color: $black;
}

h1, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}

a {
  color: $orange;
  text-decoration: none;
}


// Main grid
body {
  height: 100vh;
  padding: 6vh 5vw;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 32px;
  background: $light-brown;
}


// Header
header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0.5rem;
  color: $orange;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(3, auto);
  font-size: 1.2rem;
  gap: 6vw;

  li {
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      color: $orange;
    }

    // Required for partial underline
    padding-bottom: 5px;
    position: relative;
  }
}

.selected {
  color: $orange;
}

// Partial underline
.selected::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2px;
  bottom: 0;
  background: $black;
}


// Main - Home
.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

.home__left-section {
  display: grid;
  justify-items: start;
  gap: 2vh;
}

.jap-phrase {
  font-size: 3rem;
  font-family: 'M PLUS Rounded 1c', $system-font-stack;
  color: $orange;
}

.wavy-line {
  // Ratio -> font-size / letter-spacing = 6.25
  font-size: 2.3rem;
  letter-spacing: -0.368rem;
  color: $black;
}

.motto {
  display: grid;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 800;

  div:nth-child(2) {
    color: $orange;
  }
}

.description {
  font-size: 1.15rem;
}

.order-button {
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  margin-top: 1.5vh;
  background: $orange;
  color: white;
}

.home__right-section {
  display: grid;
  place-content: center;
  place-items: center;

  img {
    width: 55%;
  }
}


// Main - Menu
.menu {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 5vw;
}

.dish {
  display: grid;
  align-content: start;
  justify-items: center;
  text-align: center;
  gap: 2vh;

  img {
    width: 80%;
    cursor: pointer;
    &:hover {
      filter: brightness(80%);
    }
  }
}

.dish__title {
  color: $orange;
  font-size: 1.2rem;
  font-weight: 700;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; // Enable scroll if needed
  background: rgba(0,0,0,0.9);
  animation-name: fade-in;
  animation-duration: 0.6s;
}

@keyframes fade-in {
	from {opacity:0}
	to {opacity:1}
}

.modal__content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 35px;
  color: $orange;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    color: lighten($orange, 6%);
  }
}


// Main - Contact 
.contact {
  display: grid;
  grid-template-columns: auto 1fr;

  img {
    width: 50%;
  }
}

.contact__left-section {
  display: grid;
  align-content: center;
  font-size: 3rem;
  font-weight: 800;
  gap: 2vh;
}

.contact__title div:nth-child(2) {
  color: $orange;
}

.contact__right-section {
  display: grid;
  justify-items: center;
  align-content: center;
  text-align: center;
  gap: 2vh;
  font-size: 1.1rem;
}

.phones__title, .address__title {
  color: $orange;
  font-weight: 700;
}


// Footer
footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 4vw;
  font-size: 1.15rem;

  ul {
    display: grid;
    justify-content: start;
    grid-template-columns: repeat(3, auto);
    gap: 4vw;
  }

  li a {
    &:hover {
      color: darken($orange, 8%);
    }

    &:active {
      color: darken($orange, 12%);
    }
  }
}

.line {
  height: 1px;
  width: 100%;
  background: $orange;
}

.fa-github {
  font-size: 2.2rem;
  transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
